body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
}

h1 {
  margin-top: 20px;
}

.instructions {
  margin: 20px;
  font-size: 18px;
  text-align: left;

  ul {
    list-style-type: circle;
  }
  li {
    margin-bottom: 8px;
  }
}

.left {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.todo {
  margin: 20px;
  font-size: 18px;
  text-align: left;
  ul {
    list-style-type: number;
  }
  .item {
    list-style-type: circle;
    li {
      margin-bottom: 8px;
    }
  }
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
}
